on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'
      - 'infection.json.dist'
      - 'psalm.xml'

  push:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'
      - 'infection.json.dist'
      - 'psalm.xml'

name: build

jobs:
  phpunit:
    name: PHP ${{ matrix.php }} (mongodb ${{ matrix.mongoext }}) on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    services:
      mongodb:
        image: mongo:${{ matrix.mongo }}
        ports:
                    - 27017:27017
    strategy:
      matrix:
        os: [ubuntu-latest]
        php: ['7.3', '7.4', '8.0', '8.1', '8.2', '8.3', '8.4']
        mongo: ['3']
        mongoext: ['1.8.2', '1.9.0']

    steps:
      - name: Checkout.
        uses: actions/checkout@v2

      - name: Install PHP.
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: pecl
          extensions: mongodb-${{ matrix.mongoext }}
          ini-values: date.timezone='UTC'

      - name: Install dependencies with composer.
        run: composer update --prefer-dist --no-interaction --no-progress --optimize-autoloader --ansi

      - name: Run tests with phpunit.
        if: matrix.php != '8.1'
        run: vendor/bin/phpunit --colors=always

      - name: Run tests with phpunit and generate coverage.
        if: matrix.php == '8.1'
        run: vendor/bin/phpunit --coverage-clover=coverage.xml --colors=always

      - name: Upload coverage to Codecov.
        if: matrix.php == '8.1'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
